In [193]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import os

# Duplicates

In [194]:
titles = ['ad', 'fd', 'groene', 'nrc', 'volkskrant']
mask_levels = ['15', '20', '25', '30']
model_sizes = ['small', 'base', 'large', 'xl', 'xxl']

RESULTS_PATH = '..\\results\\working_results\\mT5\\duplicates'
DATA_PATH = '..\\data\\duplicates\\masked_input'

In [195]:
# Concat results of all titles for a single masking level
df_results_15, df_results_20, df_results_25, df_results_30 =  pd.DataFrame(), pd.DataFrame(), pd.DataFrame(), pd.DataFrame()

for mask_level in mask_levels:
    df_results_title = pd.DataFrame()
    for title in titles:
        df_results = pd.DataFrame()
        for model_size in model_sizes:          
            try:
                df_results_temp = pd.read_csv(f'{RESULTS_PATH}\\results_{mask_level}\\{title}\\results_{title}_{model_size}.csv')
                df_results_temp['Title'] = title
                df_results = pd.concat([df_results, df_results_temp], ignore_index=True)
            except Exception as e:
                print(f'Results not available for {title}, {mask_level}% mask, {model_size} model: {e}')
                continue

        try: 
            df_results_title = pd.concat([df_results_title, df_results], ignore_index=True)
        except:
            continue        

    try: 
        if mask_level == '15':
            df_results_15 = pd.concat([df_results_15, df_results_title], ignore_index=True)
        elif mask_level == '20':
            df_results_20 = pd.concat([df_results_20, df_results_title], ignore_index=True)
        elif mask_level == '25':
            df_results_25 = pd.concat([df_results_25, df_results_title], ignore_index=True)
        elif mask_level == '30':
            df_results_30 = pd.concat([df_results_30, df_results_title], ignore_index=True)
    except:
        continue

Results not available for ad, 15% mask, xxl model: [Errno 2] No such file or directory: '..\\results\\working_results\\mT5\\duplicates\\results_15\\ad\\results_ad_xxl.csv'
Results not available for fd, 15% mask, xxl model: [Errno 2] No such file or directory: '..\\results\\working_results\\mT5\\duplicates\\results_15\\fd\\results_fd_xxl.csv'
Results not available for groene, 15% mask, xxl model: [Errno 2] No such file or directory: '..\\results\\working_results\\mT5\\duplicates\\results_15\\groene\\results_groene_xxl.csv'
Results not available for nrc, 15% mask, xxl model: [Errno 2] No such file or directory: '..\\results\\working_results\\mT5\\duplicates\\results_15\\nrc\\results_nrc_xxl.csv'
Results not available for volkskrant, 15% mask, xxl model: [Errno 2] No such file or directory: '..\\results\\working_results\\mT5\\duplicates\\results_15\\volkskrant\\results_volkskrant_xxl.csv'
Results not available for ad, 20% mask, xxl model: [Errno 2] No such file or directory: '..\\results\\working_results\\mT5\\duplicates\\results_20\\ad\\results_ad_xxl.csv'
Results not available for fd, 20% mask, xxl model: [Errno 2] No such file or directory: '..\\results\\working_results\\mT5\\duplicates\\results_20\\fd\\results_fd_xxl.csv'
Results not available for groene, 20% mask, xxl model: [Errno 2] No such file or directory: '..\\results\\working_results\\mT5\\duplicates\\results_20\\groene\\results_groene_xxl.csv'
Results not available for nrc, 20% mask, xxl model: [Errno 2] No such file or directory: '..\\results\\working_results\\mT5\\duplicates\\results_20\\nrc\\results_nrc_xxl.csv'
Results not available for volkskrant, 20% mask, xxl model: [Errno 2] No such file or directory: '..\\results\\working_results\\mT5\\duplicates\\results_20\\volkskrant\\results_volkskrant_xxl.csv'
Results not available for ad, 25% mask, xxl model: [Errno 2] No such file or directory: '..\\results\\working_results\\mT5\\duplicates\\results_25\\ad\\results_ad_xxl.csv'
Results not available for fd, 25% mask, xxl model: [Errno 2] No such file or directory: '..\\results\\working_results\\mT5\\duplicates\\results_25\\fd\\results_fd_xxl.csv'
Results not available for groene, 25% mask, xxl model: [Errno 2] No such file or directory: '..\\results\\working_results\\mT5\\duplicates\\results_25\\groene\\results_groene_xxl.csv'
Results not available for nrc, 25% mask, xxl model: [Errno 2] No such file or directory: '..\\results\\working_results\\mT5\\duplicates\\results_25\\nrc\\results_nrc_xxl.csv'
Results not available for volkskrant, 25% mask, xxl model: [Errno 2] No such file or directory: '..\\results\\working_results\\mT5\\duplicates\\results_25\\volkskrant\\results_volkskrant_xxl.csv'
Results not available for ad, 30% mask, xxl model: [Errno 2] No such file or directory: '..\\results\\working_results\\mT5\\duplicates\\results_30\\ad\\results_ad_xxl.csv'
Results not available for fd, 30% mask, xxl model: [Errno 2] No such file or directory: '..\\results\\working_results\\mT5\\duplicates\\results_30\\fd\\results_fd_xxl.csv'
Results not available for groene, 30% mask, xxl model: [Errno 2] No such file or directory: '..\\results\\working_results\\mT5\\duplicates\\results_30\\groene\\results_groene_xxl.csv'
Results not available for nrc, 30% mask, xxl model: [Errno 2] No such file or directory: '..\\results\\working_results\\mT5\\duplicates\\results_30\\nrc\\results_nrc_xxl.csv'
Results not available for volkskrant, 30% mask, xxl model: [Errno 2] No such file or directory: '..\\results\\working_results\\mT5\\duplicates\\results_30\\volkskrant\\results_volkskrant_xxl.csv'

In [196]:
df_results_15[df_results_15['Sequence id'] == 'seq1-0']

,Sequence id,Model size,Input sequence (ground truth),Input sequence (masked),Model output sequence,Masked tokens,Filled tokens,Number of masked tokens,Masking percentage,Duplicate count,Levenshtein distances,Levenshtein distance (avg),Title
1,seq1-0,small,Meld je aan voor de AD sportnieuwsbrief en ont...,Meld je aan voor <extra_id_0> sportnieuwsbrief...,Meld je aan voor een sportnieuwsbrief en ontva...,['de AD'],['een'],2,15,16,[0.8],0.80,ad
566,seq1-0,base,Meld je aan voor de AD sportnieuwsbrief en ont...,Meld je aan voor <extra_id_0> sportnieuwsbrief...,Meld je aan voor de sportnieuwsbrief en ontvan...,['de AD'],['de'],2,15,16,[0.6],0.60,ad
1131,seq1-0,large,Meld je aan voor de AD sportnieuwsbrief en ont...,Meld je aan voor <extra_id_0> sportnieuwsbrief...,Meld je aan voor onze sportnieuwsbrief en ontv...,['de AD'],['onze'],2,15,16,[1.0],1.00,ad
1696,seq1-0,xl,Meld je aan voor de AD sportnieuwsbrief en ont...,Meld je aan voor <extra_id_0> sportnieuwsbrief...,Meld je aan voor de sportnieuwsbrief en ontvan...,['de AD'],['de'],2,15,16,[0.6],0.60,ad
2261,seq1-0,small,) Internationale economie (27514) Multinationa...,) Internationale economie (27514) Multinationa...,) Internationale economie (27514) Multinationa...,['(13850) Omzetcijfers (13455)'],['(8814)'],3,15,18,[0.8214285714285714],0.82,fd
2290,seq1-0,base,) Internationale economie (27514) Multinationa...,) Internationale economie (27514) Multinationa...,) Internationale economie (27514) Multinationa...,['(13850) Omzetcijfers (13455)'],['(1366)'],3,15,18,[0.8571428571428571],0.86,fd
2319,seq1-0,large,) Internationale economie (27514) Multinationa...,) Internationale economie (27514) Multinationa...,) Internationale economie (27514) Multinationa...,['(13850) Omzetcijfers (13455)'],['(13802)'],3,15,18,[0.7857142857142857],0.79,fd
2348,seq1-0,xl,) Internationale economie (27514) Multinationa...,) Internationale economie (27514) Multinationa...,) Internationale economie (27514) Multinationa...,['(13850) Omzetcijfers (13455)'],['(13495)'],3,15,18,[0.7857142857142857],0.79,fd
2377,seq1-0,small,In zijn Kleine encyclopedie schetst Herman Vui...,In zijn Kleine encyclopedie schetst Herman Vui...,In zijn Kleine encyclopedie schetst Herman Vui...,['inzichten over Nederland'],['termen'],3,15,17,[0.7916666666666666],0.79,groene
2402,seq1-0,base,In zijn Kleine encyclopedie schetst Herman Vui...,In zijn Kleine encyclopedie schetst Herman Vui...,In zijn Kleine encyclopedie schetst Herman Vui...,['inzichten over Nederland'],['woorden'],3,15,17,[0.7916666666666666],0.79,groene
2427,seq1-0,large,In zijn Kleine encyclopedie schetst Herman Vui...,In zijn Kleine encyclopedie schetst Herman Vui...,In zijn Kleine encyclopedie schetst Herman Vui...,['inzichten over Nederland'],['woordenschat'],3,15,17,[0.8333333333333334],0.83,groene
2452,seq1-0,xl,In zijn Kleine encyclopedie schetst Herman Vui...,In zijn Kleine encyclopedie schetst Herman Vui...,In zijn Kleine encyclopedie schetst Herman Vui...,['inzichten over Nederland'],['woorden'],3,15,17,[0.7916666666666666],0.79,groene
2477,seq1-0,small,Problemen met bedrijven en overheidsdiensten? ...,Problemen met bedrijven en overheidsdiensten? ...,Problemen met bedrijven en overheidsdiensten? ...,['op zoek'],['opnieuw'],2,15,22,[0.7142857142857143],0.71,nrc
3256,seq1-0,base,Problemen met bedrijven en overheidsdiensten? ...,Problemen met bedrijven en overheidsdiensten? ...,Problemen met bedrijven en overheidsdiensten? ...,['op zoek'],['om 9.00 uur'],2,15,22,[0.8181818181818182],0.82,nrc
4035,seq1-0,large,Problemen met bedrijven en overheidsdiensten? ...,Problemen met bedrijven en overheidsdiensten? ...,Problemen met bedrijven en overheidsdiensten? ...,['op zoek'],['op zoek'],2,15,22,[0.0],0.00,nrc
4814,seq1-0,xl,Problemen met bedrijven en overheidsdiensten? ...,Problemen met bedrijven en overheidsdiensten? ...,Problemen met bedrijven en overheidsdiensten? ...,['op zoek'],['op zoek'],2,15,22,[0.0],0.00,nrc
5593,seq1-0,small,"In razend tempo volgen de nieuwe bandjes, belo...","In razend tempo volgen de nieuwe bandjes, belo...","In razend tempo volgen de nieuwe bandjes, belo...","['elkaar op. In', 'week door de']","['In', 'week de']",6,15,19,"[0.8461538461538461, 0.4166666666666667]",0.63,volkskrant
6003,seq1-0,base,"In razend tempo volgen de nieuwe bandjes, belo...","In razend tempo volgen de nieuwe bandjes, belo...","In razend tempo volgen de nieuwe bandjes, belo...","['elkaar op. In', 'week door de']","['In', 'week door de']",6,15,19,"[0.8461538461538461, 0.0]",0.42,volkskrant
6413,seq1-0,large,"In razend tempo volgen de nieuwe bandjes, belo...","In razend tempo volgen de nieuwe bandjes, belo...","In razend tempo volgen de nieuwe bandjes, belo...","['elkaar op. In', 'week door de']","['In', 'week langs de']",6,15,19,"[0.8461538461538461, 0.38461538461538464]",0.62,volkskrant
6823,seq1-0,xl,"In razend tempo volgen de nieuwe bandjes, belo...","In razend tempo volgen de nieuwe bandjes, belo...","In razend tempo volgen de nieuwe bandjes, belo...","['elkaar op. In', 'week door de']","['In', 'week langs de']",6,15,19,"[0.8461538461538461, 0.38461538461538464]",0.62,volkskrant

In [197]:
# Drop faulty sequences (e.g. only URL strings)
dfs = [df_results_15, df_results_20, df_results_25, df_results_30]
faulty = [
    'ianGP</a> <a href="https://twitter.com/hashtag/F1?src=hash&amp;ref_src=twsrc%5Etfw">#F1</a> <a href="https://t.co/',
    '. <a href="https://twitter.com/hashtag/AD?src=hash&amp;ref_src=twsrc%5Etfw">#AD</a> <a href="https://t',
    '</a> <a href="https://twitter.com/hashtag/brand?src=hash&amp;ref_src=twsrc%5Etfw">#brand</a> <a href="https://t.co/',
    '. <a href="https://twitter.com/hashtag/file?src=hash&amp;ref_src=twsrc%5Etfw">#file</a> <a href="https://t',
    '<a href="https://twitter.com/hashtag/rtl7darts?src=hash&amp;ref_src=twsrc%5Etfw">#rtl7darts</a> <a href="https://twitter.com/hashtag/darts?src=hash&amp;ref_src=twsrc%5Etfw">#darts</a> <a href="https://t.co/',
    '<a href="https://twitter.com/hashtag/AustrianGP?src=hash&ref_src=twsrc%5Etfw">#AustrianGP</a>  <a href="https://twitter.com/hashtag/F1?src=hash&ref_src=twsrc%5Etfw">#F1</a> <a href="https://t.co/',
    '</a> <a href="https://twitter.com/hashtag/eindelijk?src=hash&amp;ref_src=twsrc%5Etfw">#eindelijk</a> <a href="https://t',
    '<a href="https://twitter.com/hashtag/rtl7darts?src=hash&amp;ref_src=twsrc%5Etfw">#rtl7darts</a> <a href="https://twitter.com/hashtag/darts?src=hash&amp;ref_src=twsrc%5Etfw">#darts</a> <a href="https://t.co/',
    '</a> <a href="https://twitter.com/hashtag/Amsterdam?src=hash&amp;ref_src=twsrc%5Etfw">#Amsterdam</a> via <a href="https://twitter.com/Politie?ref_src=twsrc%5Etfw">@Politie</a>'
]

# Function to remove faulty sequences from a dataframe
def remove_faulty_sequences(df, faulty_sequences):
    df['Input sequence (ground truth)'] = df['Input sequence (ground truth)']
    return df[~df['Input sequence (ground truth)'].isin(faulty_sequences)]

# Apply the function to each dataframe in the list
dfs = [remove_faulty_sequences(df, faulty) for df in dfs]

df_results_15 = dfs[0]
df_results_20 = dfs[1]
df_results_25 = dfs[2]
df_results_30 = dfs[3]

In [198]:
df_results_15[df_results_15['Input sequence (ground truth)'] == '''ianGP</a> <a href="https://twitter.com/hashtag/F1?src=hash&amp;ref_src=twsrc%5Etfw">#F1</a> <a href="https://t.co/''']

Empty DataFrame
Columns: [Sequence id, Model size, Input sequence (ground truth), Input sequence (masked), Model output sequence, Masked tokens, Filled tokens, Number of masked tokens, Masking percentage, Duplicate count, Levenshtein distances, Levenshtein distance (avg), Title]
Index: []

In [199]:
# Store csv
df_results_15.to_csv(f"..\\results\\working_results\\mT5\\duplicates\\results_15\\duplicates_combined_15.csv", index=False)
df_results_20.to_csv(f"..\\results\\working_results\\mT5\\duplicates\\results_20\\duplicates_combined_20.csv", index=False)
df_results_25.to_csv(f"..\\results\\working_results\\mT5\\duplicates\\results_25\\duplicates_combined_25.csv", index=False)
df_results_30.to_csv(f"..\\results\\working_results\\mT5\\duplicates\\results_30\\duplicates_combined_30.csv", index=False)

In [200]:
df_combined_results = pd.concat([df_results_15, df_results_20, df_results_25, df_results_30], ignore_index=True)
df_combined_results.to_csv(f"..\\results\\working_results\\mT5\\duplicates\\duplicates_combined_all_levels.csv", index=False)

# Unique

In [201]:
titles = ['nrc', 'groene', 'volkskrant']
mask_levels = ['15', '20', '25', '30']
model_sizes = ['small', 'base', 'large', 'xl']

RESULTS_PATH = '..\\results\\working_results\\mT5\\unique'
DATA_PATH = '..\\data\\unique\\masked_input'

In [202]:
# Concat results of all titles for a single masking level
df_results_unique_15, df_results_unique_20, df_results_unique_25, df_results_unique_30 =  pd.DataFrame(), pd.DataFrame(), pd.DataFrame(), pd.DataFrame()

for mask_level in mask_levels:
    df_results_title = pd.DataFrame()
    for title in titles:
        df_results = pd.DataFrame()
        for model_size in model_sizes:          
            try:
                df_results_temp = pd.read_csv(f'{RESULTS_PATH}\\results_{mask_level}\\{title}\\results_{title}_{model_size}.csv')
                df_results_temp['Title'] = title
                df_results = pd.concat([df_results, df_results_temp], ignore_index=True)
            except Exception as e:
                print(f'Results not available for {title}, {mask_level}% mask, {model_size} model: {e}')
                continue

        try: 
            df_results_title = pd.concat([df_results_title, df_results], ignore_index=True)
        except:
            continue        

    try: 
        if mask_level == '15':
            df_results_unique_15 = pd.concat([df_results_unique_15, df_results_title], ignore_index=True)
        elif mask_level == '20':
            df_results_unique_20 = pd.concat([df_results_unique_20, df_results_title], ignore_index=True)
        elif mask_level == '25':
            df_results_unique_25 = pd.concat([df_results_unique_25, df_results_title], ignore_index=True)
        elif mask_level == '30':
            df_results_unique_30 = pd.concat([df_results_unique_30, df_results_title], ignore_index=True)
    except:
        continue

In [203]:
# Drop faulty sequences (e.g. only URL strings)
dfs = [df_results_unique_15, df_results_unique_20, df_results_unique_25, df_results_unique_30]
faulty = ['Peter Gay: Freud.  A Life for Our Time'
]

# Function to remove faulty sequences from a dataframe
def remove_faulty_sequences(df, faulty_sequences):
    df['Input sequence (ground truth)'] = df['Input sequence (ground truth)']
    return df[~df['Input sequence (ground truth)'].isin(faulty_sequences)]

# Apply the function to each dataframe in the list
dfs = [remove_faulty_sequences(df, faulty) for df in dfs]

df_results_unique_15 = dfs[0]
df_results_unique_20 = dfs[1]
df_results_unique_25 = dfs[2]
df_results_unique_30 = dfs[3]

In [204]:
# Store csv
df_results_unique_15.to_csv(f"..\\results\\working_results\\mT5\\unique\\results_15\\unique_combined_15.csv", index=False)
df_results_unique_20.to_csv(f"..\\results\\working_results\\mT5\\unique\\results_20\\unique_combined_20.csv", index=False)
df_results_unique_25.to_csv(f"..\\results\\working_results\\mT5\\unique\\results_25\\unique_combined_25.csv", index=False)
df_results_unique_30.to_csv(f"..\\results\\working_results\\mT5\\unique\\results_30\\unique_combined_30.csv", index=False)

In [205]:
df_unique_combined_results = pd.concat([df_results_unique_15, df_results_unique_20, df_results_unique_25, df_results_unique_30], ignore_index=True)
df_unique_combined_results.to_csv(f"..\\results\\working_results\\mT5\\unique\\unique_combined_all_levels.csv", index=False)

# Baseline

In [206]:
titles = ['ad', 'nrc', 'volkskrant']
mask_levels = ['15', '20', '25', '30']
model_sizes = ['small', 'base', 'large', 'xl']

RESULTS_PATH = '..\\results\\working_results\\mT5\\baseline'
DATA_PATH = '..\\data\\baseline\\masked_input'

In [207]:
# Concat results of all titles for a single masking level
df_results_baseline_15, df_results_baseline_20, df_results_baseline_25, df_results_baseline_30 =  pd.DataFrame(), pd.DataFrame(), pd.DataFrame(), pd.DataFrame()

for mask_level in mask_levels:
    df_results_title = pd.DataFrame()
    for title in titles:
        df_results = pd.DataFrame()
        for model_size in model_sizes:          
            try:
                df_results_temp = pd.read_csv(f'{RESULTS_PATH}\\results_{mask_level}\\{title}\\results_{title}_{model_size}.csv')
                df_results_temp['Title'] = title
                df_results = pd.concat([df_results, df_results_temp], ignore_index=True)
            except Exception as e:
                print(f'Results not available for {title}, {mask_level}% mask, {model_size} model: {e}')
                continue

        try: 
            df_results_title = pd.concat([df_results_title, df_results], ignore_index=True)
        except:
            continue        

    try: 
        if mask_level == '15':
            df_results_baseline_15 = pd.concat([df_results_baseline_15, df_results_title], ignore_index=True)
        elif mask_level == '20':
            df_results_baseline_20 = pd.concat([df_results_baseline_20, df_results_title], ignore_index=True)
        elif mask_level == '25':
            df_results_baseline_25 = pd.concat([df_results_baseline_25, df_results_title], ignore_index=True)
        elif mask_level == '30':
            df_results_baseline_30 = pd.concat([df_results_baseline_30, df_results_title], ignore_index=True)
    except:
        continue

In [208]:
# Drop faulty sequences (e.g. only URL strings)
dfs = [df_results_baseline_15, df_results_baseline_20, df_results_baseline_25, df_results_baseline_30]
faulty = ['Peter Gay: Freud.  A Life for Our Time'
]

# Function to remove faulty sequences from a dataframe
def remove_faulty_sequences(df, faulty_sequences):
    df['Input sequence (ground truth)'] = df['Input sequence (ground truth)']
    return df[~df['Input sequence (ground truth)'].isin(faulty_sequences)]

# Apply the function to each dataframe in the list
dfs = [remove_faulty_sequences(df, faulty) for df in dfs]

df_results_baseline_15 = dfs[0]
df_results_baseline_20 = dfs[1]
df_results_baseline_25 = dfs[2]
df_results_baseline_30 = dfs[3]

In [209]:
# Store csv
df_results_baseline_15.to_csv(f"..\\results\\working_results\\mT5\\baseline\\results_15\\baseline_combined_15.csv", index=False)
df_results_baseline_20.to_csv(f"..\\results\\working_results\\mT5\\baseline\\results_20\\baseline_combined_20.csv", index=False)
df_results_baseline_25.to_csv(f"..\\results\\working_results\\mT5\\baseline\\results_25\\baseline_combined_25.csv", index=False)
df_results_baseline_30.to_csv(f"..\\results\\working_results\\mT5\\baseline\\results_30\\baseline_combined_30.csv", index=False)

In [210]:
df_baseline_combined_results = pd.concat([df_results_baseline_15, df_results_baseline_20, df_results_baseline_25, df_results_baseline_30], ignore_index=True)
df_baseline_combined_results.to_csv(f"..\\results\\working_results\\mT5\\baseline\\baseline_combined_all_levels.csv", index=False)